.parteazul{
    width: 100%;
    background-color: rgb(2, 2, 81);
    display:flex;
    justify-content: center;
    
}
.titulo{
    color: rgb(196, 195, 194);
    margin-top: 2.7%;
    font-size: 40px;
}
.Logo{
    width: 10%;
    
}
.nom{
    font-family:cursive;
    font-size: 40px;
    margin-left: -400px;
    color: aliceblue;
}

